@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
  background-color: #161313;
}

* {
  box-sizing: border-box;
  text-underline-position: under;
}

a {
  color: white;
}

strong {
  font-weight: 800;
}

img {
  max-width: 100%;
  display: block;
}
